html,
body {
  padding: 0;
  margin: 0;
  background-color: #191414;
  height: 100%
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

#app-bar-container {
  flex: 0 1 100%;
}

.main-container {
  flex: 0 1 100%;
}
