.menuItem {
  padding: "0 24px";
  min-width: 120px;
}

.menuItem:hover {
  text-decoration: "none"
}

.menuItem span {
  font-size: 0.9rem;
  text-align: center
}

.userAvatarImg {
  width: 30px;
  height: 30px
}
